<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.poolify.admin.persistent.mapper.ThreadPoolAdjustLogMapper">

    <resultMap id="BaseResultMap" type="cn.poolify.admin.persistent.po.ThreadPoolAdjustLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="threadPoolConfigId" column="thread_pool_config_id" jdbcType="BIGINT"/>
            <result property="beforeAdjustConfig" column="before_adjust_config" jdbcType="VARCHAR"/>
            <result property="adjustConfig" column="adjust_config" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <select id="selectThreadPoolAdjustLogByLine"
            resultType="cn.poolify.admin.trigger.http.api.vo.thread.ThreadPoolAdjustLineVO">
        SELECT
            DATE(create_time) AS date,
            COUNT(*) AS count
        FROM
            thread_pool_adjust_log
        where create_time &gt;= #{beginDate} and create_time &lt;= #{endDate}
        GROUP BY
            DATE(create_time)
    </select>
    <select id="selectThreadPoolAdjustLogByPie"
            resultType="cn.poolify.admin.trigger.http.api.vo.thread.ThreadPoolAdjustPieVO">
        SELECT
        state,
        COUNT(*) AS count
        FROM
        thread_pool_adjust_log
        where create_time &gt;= #{beginDate} and create_time &lt;= #{endDate}
        GROUP BY
        state



    </select>

</mapper>
