<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.poolify.admin.persistent.mapper.ThreadPoolReportMapper">

    <resultMap id="BaseResultMap" type="cn.poolify.admin.persistent.po.ThreadPoolReport">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="poolName" column="pool_name" jdbcType="VARCHAR"/>
            <result property="poolId" column="pool_id" jdbcType="BIGINT"/>
            <result property="scheduleType" column="schedule_type" jdbcType="VARCHAR"/>
            <result property="scheduleConf" column="schedule_conf" jdbcType="VARCHAR"/>
            <result property="triggerLastTime" column="trigger_last_time" jdbcType="BIGINT"/>
            <result property="triggerNextTime" column="trigger_next_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pool_name,pool_id,
        schedule_type,schedule_conf,trigger_last_time,
        trigger_next_time
    </sql>
</mapper>
